<% var cssClass = (options && options.class) ? options.class : 'navigation' %>
<nav class="<%- cssClass %>" data-active-children>
	<% if(cssClass == 'responsive_navigation') { %>
		<span class="responsive_menu__close_icon" data-close-responsive-menu></span>
		<div class="<%- cssClass %>__menu visible">
			<a href="/#stoc" class="<%- cssClass %>__item" data-active-self>Home</a>
	<% } %>
	<div class="<%- cssClass %>__item">
		<span class="<%- cssClass %>__item_label dropdown_trigger" data-active-on="/services/" data-dropdown-target="<%- cssClass %>__services" <% if(cssClass != 'responsive_navigation') { %>data-dropdown-hover<% } %>>Services
		</span>
		<div class="<%- cssClass %>__dropdown" data-dropdown="<%- cssClass %>__services">
			<div class="<%- cssClass %>__dropdown_inner">
				<% plugins.stories({sort: 'asc', component: 'Services Module', context: 'servicessmenu'}, entry =>{%>
					<a href="<%- entry.url %>" data-active-self class="<%- cssClass %>__dropdown_item"><%- entry.title %></a>
				<% }) %>
			</div>
		</div>
	</div>
	<div class="<%- cssClass %>__item">
		<span class="<%- cssClass %>__item_label dropdown_trigger" data-active-on="/sectors/" data-dropdown-target="<%- cssClass %>__sectors" <% if(cssClass != 'responsive_navigation') { %>data-dropdown-hover<% } %>>Sectors
		</span>
		<div class="<%- cssClass %>__dropdown" data-dropdown="<%- cssClass %>__sectors">
			<div class="<%- cssClass %>__dropdown_inner">
				<% plugins.stories({sort: 'asc', component: 'Sectors Module', context: 'sectorsmenu'}, entry =>{%>
					<a href="<%- entry.url %>" data-active-self class="<%- cssClass %>__dropdown_item"><%- entry.title %></a>
				<% }) %>
			</div>
		</div>
	</div>
	<div class="<%- cssClass %>__item">
		<span class="<%- cssClass %>__item_label dropdown_trigger" data-active-on="/about/" data-dropdown-target="<%- cssClass %>__about" <% if(cssClass != 'responsive_navigation') { %>data-dropdown-hover<% } %>>About
		</span>
		<div class="<%- cssClass %>__dropdown" data-dropdown="<%- cssClass %>__about">
			<div class="<%- cssClass %>__dropdown_inner">
				<% plugins.stories({sort: 'asc', context: 'aboutmenu', where: entry => entry.url == `/about/${entry.slug}/` || entry.url == `/about/`, manipulate: stories => {
					var about_page = plugins.getEntry({slug: 'about'});
					var parent_id = about_page.parent_id;
					return stories.map(story => {
						if(story.parent_id != parent_id) {
							return Object.assign(story, {position: story.parent_position});
						} else {
							return story;
						}
					}).sort((a,b) => a.position - b.position);
				}}, entry =>{%>
					<a href="<%- entry.url %>" data-active-self class="<%- cssClass %>__dropdown_item"><%- entry.title %></a>
				<% }) %>
			</div>
		</div>
	</div>
	<a href="/insights/" class="<%- cssClass %>__item">Insights</a>
	<a href="/contact/" class="<%- cssClass %>__item">Contact</a>
	<% if(cssClass == 'responsive_navigation') { %>
		</div>
	<% } %>
</nav>