// ======================================================
// Block Styles
// ============
.block_main_banner {
    $block: &;
    
    // LAYOUT
    // ===========
    padding-top: 88px;
    position: relative;
    text-align: center;

    @include breakpoint(small down) {
        padding-top: 42px;
    }

    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    // TEXT
    // ==============
    &__heading {
        max-width: 977px;
        margin-bottom: 9px;

        @include breakpoint(small down) {
            margin-bottom: 21px;
        }
    }

    &__subheading {
        color: rgba($text-color, .9);
        font-size: 0.875rem;
        font-weight: $weight-bold;
        letter-spacing: .3px;
        line-height: 1.5;
        margin-bottom: 11px;
        margin-top: -32px;
        text-transform: uppercase;
    }

    &__description {
        max-width: 750px;

        > * {
            color: $secondary-color;
            font-size: 1.25rem;
            line-height: 1.65;

            @include breakpoint(small down) {
                font-size: 1.1875rem;
            }

            b,
            bold {
                color: $primary-color;
            }
        }
    }

    // IMAGE
    // ====================
    &__image_container {
        background: linear-gradient(to bottom, $white 50%, $secondary-color 50%);
        margin-top: 138px;
        padding: 0 25px;

        @include breakpoint(small down) {
            margin-top: 125px;
        }
        @include breakpoint(450px down) {
            margin-top: 100px;
        }
    }

    &__image_wrapper {
        @include container(1380px, 0, true);
        height: 605px;
        overflow: visible;
        position: relative;

        @include breakpoint(medium down) {
            height: 400px;
        }
        @include breakpoint(small down) {
            height: 249px;
            margin-left: -8px;
            width: calc(100% + 16px);
        }
    }
}