
// ===================
// ====== INDEX ======
// ===================
// 1 - Layout
// 2 - Desktop Navigation
// 3 - Mobile Navigation Wrapper
// 4 - Mobile Navigation
// 5 - Burger Icon
// ==================


// 1 - Layout
// =============
.core_header {
	// LAYOUT
	// =====================
	background-color: $banner-background;
	position: relative;
	z-index: 4;

	// LOGO
	// ======================
	&__logo {
		display: block;
	}

	&__logo_image {
		display: block;
		width: $logo-width;

		@include breakpoint( small down ) {
			width: $logo-width-small;
		}
	}

	&__container {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding-bottom: 47px;
		padding-top: 47px;
		position: relative;

		@include breakpoint(medium down) {
			padding-bottom: 35px;
			padding-top: 35px;
		}
	}

	// SECONDARY NAV 
	// =================
	&__secondary_nav {
		background-color: $white;
		padding-bottom: 11px;
		padding-top: 11px;

		@include breakpoint(small down) {
			padding-bottom: 9px;
			padding-top: 9px;
		}
	}

	&__secondary_nav_container {
		display: flex;
		justify-content: flex-end;
	}

	&__secondary_nav_link {
		color: $secondary-nav-link-color;
		font-size: 0.8125rem;
		font-weight: $weight-semibold;
		position: relative;
		text-transform: uppercase;
		@include transitions();

		@include breakpoint(small down) {
			font-size: 0.78125rem;
		}

		&:not(:first-child) {
			margin-left: 35px;

			@include breakpoint(small down) {
				margin-left: 26px;
			}

			&:before {
				background-color: $border-color;
				content: '';
				display: block;
				height: 17px;
				left: -18px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;

				@include breakpoint(small down) {
					height: 11px;
					left: -14px;
				}
			}
		}

		&:hover,
		&.active {
			color: $secondary-nav-link-color-active;
		}
	}

	&__secondary_nav_number {
		color: $primary-color;
	}

	// HOMEPAGE
	// ===============
	&--homepage,
	&--solutions-module,
	&--services-module,
	&--sectors-module {
		background-color: transparent;
		margin-bottom: -136px;
		z-index: 5;
	}
}


// 2 - Desktop Navigation
// =================
.navigation {
	align-items: center;
	display: flex;
	justify-content: flex-end;

	@include breakpoint(medium down) { 
		display: none; 
	}

	&__item {
		align-items: center;
		color: $white;
		cursor: pointer;
		display: flex;
		font-weight: $weight-normal;
		font-size: 1.0625rem;
		position: relative;
		@include transitions();

		&:not(:last-child) {
			margin-right: 47px; 
		}

		&:hover,
		&.open {
			color: $secondary-color;
		}

		&.active { 
			color: $secondary-color;
		}
	}

	&__item_label {
		align-items: center;
		color: $white;
		display: flex;
		height: 100%;
		padding: 0;
		@include transitions();

		&:hover,
		.active &,
		&.open {
			color: $secondary-color;

			&:after {
				transform: rotate(180deg);
			}
		}

		&.active { 
			color: $secondary-color;
		}

		&:after {
			//@extend .flaticon-arrow-down:before;
		    font-family: flaticon;
		    display: inline-block;
		    font-size: .5rem;
		    font-weight: 400;
		    left: 4px;
		    position: relative;
		    top: 3px;
		}
	}

	.dropdown_trigger {
		position: relative;
	}

	&__dropdown {
		left: -33px;
		position: absolute;
		top: calc(100% + 15px);
		transition: none;
		z-index: 30;
	}

	&__dropdown_inner {
		background-color: $white;
		box-shadow: 0 16px 71px -6px rgba(0,0,0,0.14);
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		min-width: 210px;
		transition: unset !important;
		position: relative;
		text-align: left;
	}

	&__item_icon {
		display: inline-block;
		position: relative;
	    top: -2px;
	    margin-left: 4px;

	    @include breakpoint( medium down ) {
			display: none;
		}
	}

	&__dropdown_item {
		color: $text-color;
		cursor: pointer;
		display: block;
		font-family: $body-font-family;
		font-size: 1rem;
		font-weight: $weight-semibold;
		letter-spacing: 0.2px;
		line-height: 1.3;
		padding: 17px 31px 17px;
    	white-space: nowrap;
		
		&:not(:last-child) {
			border-bottom: 1px solid rgba($text-color, .15);
		}	

		&:hover,
		&.active {
			color: $secondary-color;
		} 
	}

	[data-dropdown="navigation__about"] {
		@include breakpoint(1450px down) {
			left: auto;
			right: -35px;
		}
	}
}

[data-dropdown] {
	display: none;
}


// 3 - Wrapper
// ===================
$mobile_v_bp_1: 670px;
$mobile_v_bp_2: 600px;
$mobile_v_bp_3: 570px;
$menu_width: 274px;
.responsive_menu {
	$block: &;
	height: 100%;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	transform: translate3D(0,0,0);
	transition: width .35s;
	z-index: 99;
	width: 0;

	&:before {
		background-color: $background-color;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		transition: width .35s;
		z-index: 70;
		width: 0;	
	}

	&__inner_wrapper {
		display: flex;
		height: 100%;
		justify-content: flex-end;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		z-index: 85;
		width: 100vw;
	}

	&__inner {
		align-items: flex-end;
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: scroll;
		overflow-x: hidden;
		width: 0;
	}

	&__close_icon {
		cursor: pointer;
		color: $headings-color;
		font-size: 0.875rem;
		margin-bottom: 99px;
	    margin-left: auto;
		z-index: 86;

		@media (max-height: $mobile_v_bp_1) {
			margin-bottom: 50px;
		}

		@media (max-height: $mobile_v_bp_2) {
			margin-bottom: 40px;
		}

		@media (max-height: $mobile_v_bp_3) {
			margin-bottom: 30px;
		}
		
		&:hover {
			&:after,
			&:before {
				opacity: 1;
			}
		}
		
		&:after {
			font-family: flaticon;
			font-size: 1rem;
			font-weight: $weight-normal;
			//@extend .flaticon-cancel:before;
			@include transitions();
		}
	}
	
	// Styles of the open menu
	&--in {
		width: 100%;
		
		// Animated background
		&:before {
			width: $menu_width;
		}
		
		// Revealing the content
		#{$block}__inner_wrapper {
			visibility: visible;
		}
		
		// Animating the content
		#{$block}__inner {
			width: $menu_width;
		}
		
		// Slight rotation of the close icon 
		#{$block}__close_icon {
			opacity: 1;

			&:after,
			&:before {
				transform: translate(-50%, -50%) rotate(0deg);
			}
		}
	}
}



// 5 - Mobile Navigation
// ======================
.responsive_navigation {
	$block: &;
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 500px;
	padding: 28px 34px 40px;
	text-align: right;
	width: 100%;

	&__item {
		color: $headings-color;
		display: block;
		font-family: $headings-font-family;
		font-size: 1.375rem;
		letter-spacing: 0.43px;
		margin-bottom: 30px;
		opacity: 0;
		position: relative;
		transform: translateY(-5px);

		@media (max-height: $mobile_v_bp_1) {
			margin-bottom: 25px;
		}

		@media (max-height: $mobile_v_bp_2) {
			margin-bottom: 18px;
		}

		@media (max-height: $mobile_v_bp_3) {
			margin-bottom: 17px;
		}
		
		// Animating in
		.responsive_menu--in & {
			opacity: 1;
			transform: translateY(0);
			transition: opacity 1.2s, transform .25s;
		}
		
		// Delay set on each single items to get a waterfall fade in effect
		$delay: .1;
		@for $i from 2 through 10 {
			&:nth-child(#{$i}) {
				transition-delay: #{$delay * ($i - 1)}s;
			}
		}

		&:hover,
		&.active {
			color: $primary-color;
		}
	}

	// Dropdown mobile
	//////////////////////////
	&__item_label {
		color: $headings-color;
		font-family: $headings-font-family;

		&:hover,
		&.active {
			color: $primary-color;
		}
	}

	&__item_icon {
		position: relative;
	    font-size: 0.6em;
	    top: -1px;
	    margin-left: 4px;

	    @include breakpoint( medium down ) {
			display: none;
		}
	}

	&__dropdown_item {
		color: $headings-color;
		display: block;
		font-family: $body-font-family;
		font-size: 1rem;
		font-weight: $weight-normal;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		&:hover,
		&.active {
			color: $primary-color;
		}
	}

	&__item--button {
		color: $headings-color;
		min-width: 140px;
		font-size: 1.1rem;
		margin-top: 30px;
		padding: 10px 8px;

		&.active {
			color: $headings-color;
		}
	}
}



// 5 - Burger Icon
// ======================
.burger {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: absolute;
	right: 25px;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	@include disable-selection();
	@include transitions();

	@include breakpoint(large up) {
		display: none!important;
	}

	// Each span is a line of the icon
	&__line {
		background-color: $background-color;
		border-radius: 2px;
		display: block;
		height: 2px;
		width: 27px;
		@include disable-selection();
		@include transitions();

		&:not(:last-child){
			margin-bottom: 7px;
		}

		&:nth-child(2) {
			width: 19px;
		}

		&:nth-child(3) {
			width: 28px;
		}
	}

	&:hover,
	&:focus {
		.burger__line {
			background-color: $primary-color;
			outline: none;
		}
	}
}