// 2 - Banner
// =============
.banner {
	background-color: $banner-background;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 66px 0px 134px;
	position: relative;
	z-index: 2;

	@include breakpoint(medium down) {
		padding: 70px 0 50px;
	}
	@include breakpoint(small down) {
		padding: 50px 0 30px;
	}

	&__heading {
		color: $white;
		margin-bottom: 0;

		@include breakpoint(medium down) {
			padding-left: 0;
		}
		@include breakpoint(400px down) {
			font-size: 12.5vw;
		}
	}

	.container {
		width: 100%;
	}

	// 404
	// ================
	&--404 {
		padding-bottom: 14px;
		
		.banner__heading {
			padding-left: 0;
			text-align: center;
		}
	}
}