<!-- BANNER -->
<% 
	// Modules that have a fixed banner heading
	var modules_with_fixed_h1 = {
		'News Module' : 'News',
		'Events Module' : 'Events'
	}

	// Decide if needs to hide the banner
	var banner_image = page.data.banner_image || site.settings.banner_fallback_image;
	var hide_banner = false;
	if(page.url == '/') {
		hide_banner = true;
	}
	if(['Solutions Module', 'Services Module', 'Sectors Module', 'News Module'].includes(page.data.component)) {
		hide_banner = true;
	}
%>
<% if(!hide_banner) { %>
	<div class="banner banner--<%- plugins.slugify(page.data.component) %> banner--<%- plugins.slugify(page.title) %>">
		<div class="container">
			<% if(modules_with_fixed_h1[page.data.component]) { %>
				<h2 class="banner__heading heading--h1">
					<%- modules_with_fixed_h1[page.data.component] %>
				</h2>
			<% } else { %>
				<h1 class="banner__heading">
					<% if(page.data && page.data.banner_heading) { %>
						<%= page.data.banner_heading %>
					<% } else { %>
						<%= page.title %>
					<% } %>
				</h1>
			<% } %>
		</div>
	</div>	
<% } %>